:root {
	--primaryColor: #26d8e2;
}

body {
	background-color: #090909;
	color: var(--primaryColor);
}

h1 {
	text-align: center;
	font-weight: 900;
	color: var(--primaryColor);
}

button {
	background-color: #004844;
	color: black;
	border: none;
	padding: 1em;
	border-radius: 5px;
}

canvas {
	display: block;
}

textarea, input {
	padding: 0.5em;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

:focus {
	box-shadow: 3px 3px 3px #33F;
	outline: none;
}

#gamearea {
	margin: auto;
	padding: 0;
}

#JavaScriptErr {
	text-align: center;
	color: red;
	font-size: 100%;
}
